<h1>Anatomical Structures Data</h1>
<div>
  <div>
    <mat-grid-list cols="2" rowHeight="20px" *ngFor="let name of apiNames; let i=index" >
      <mat-grid-tile [rowspan]="4" *ngIf="i%2===0">
        <div class="inner-container">
        <a class="box" (click)="onNameClick(apiIds[i])">Name: {{ apiNames[i] }}</a>
        <p>Id: {{ apiIds[i] }}</p>
      </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="4" *ngIf="i%2===0">
        <div class="inner-container">
        <a class="box" (click)="onNameClick(apiIds[i+1])">Name: {{ apiNames[i+1] }}</a>
        <p>Id: {{ apiIds[i+1] }}</p>
      </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

