<h1>Anatomical Structures Data</h1>
<div *ngIf="!dataLoaded">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="dataLoaded">
  <div>
    <mat-grid-list cols="2" rowHeight="100px">
      <div *ngFor="let structure of structures; let i=index">
      <mat-grid-tile>
        <div class="inner-container">
        <a class="box" [ngClass]="{disabled: !structure.id}" (click)="onNameClick(structure.id)">Name: {{ structure.name }}</a>
        <p>Id: {{ structure.id || 'ID Not Found' }}</p>
        </div>
      </mat-grid-tile>
    </div>
    </mat-grid-list>
  </div>
</div>